<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <table>
        <tbody>
          <% for(let i = 0; i < users.length; i++) { %>
            <%if(users[i].length > 0)%>
              <%{%>
                <tr>
                  <td><%= users[i].name %></td>
                  <td><%= users[i].email %></td>
                  <td><%= users[i].age %></td>
                </tr>
              <%}%>
          <% } %>
        </tbody>
    </table>	 -->
    Hello<%= users%>
</body>
</html>